@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    margin: 0%;
    padding: 0;
}

body{
    background: rgb(18, 13, 32);
}

header{
    font-family: 'Oswald', sans-serif;
    color: rgb(85, 99, 110);
    font-size: 150%;
    padding-left: 5%;
    align-items:initial;
    display: flex;
    background-color: rgb(29, 24, 37);
}

.main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 4px 4px 10px rgba(81, 56, 128, 0.25);
}

#form{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(29, 24, 37);
    padding: 3rem; 
    padding-left: 1rem;
    border-right: 1px black;
}

.form_control{
    padding: 10%;
    margin-bottom: 5%;
    border: none;
}

.btn{
    background-color: rgb(81, 56, 128);
    color: rgb(181, 187, 192);
    border: 1px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 4px 4px rgba(81, 56, 128, 0.25);
    border-radius: 7px;
    cursor: pointer;
    transition: 1s;
}

.btn:hover{
    background-color: rgb(30, 18, 99);
}

.return{
    width: 80%;
    height: 80vh;
    background-color: rgb(97, 97, 97);
    align-items: center;
    overflow: auto;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.img_utilities{
    width: auto;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#change{
    background-color: rgb(81, 56, 128);
    background-image: url("../img/reload_image.png");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(51, 33, 83, 0.25);
    margin: 0%;
    background-size: 20px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20%;
    transition: 1s;
}

#change:hover{
    background-color: rgb(30, 18, 99);
    cursor: pointer;
}

#images{
    display: flex;
    justify-content: center;
    margin: 2%;
}

#photographer{
    background-color: rgb(81, 56, 128);
    background-image: url("../img/photographer.png");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(51, 33, 83, 0.25);
    margin: 0%;
    background-size: 20px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20%;
    transition: 1s;
}

#photographer:hover{
    background-color: rgb(30, 18, 99);
    cursor: pointer;
}

#dictionary{
    flex-wrap: wrap;
    margin-top: 0%;
    padding: 3rem;
    padding-top: 0rem;
    background-color: rgb(128, 128, 128);
}

li {
    list-style-type: none;
}

orth{
    font-weight: bold;
    font-size: large;
}

gramGrp{
    font-weight: bold;
}

usg{
    font-weight: bold;
}

etym{
    font-style: italic;
}